{% extends "LitoralExtintoresLojaBundle:Loja:layout.html.twig" %}
{% form_theme form 'LitoralExtintoresLojaBundle:Loja/Form:fields.html.twig' %}
{% block title %}Litoral Extintores Tramandaí RS{% endblock %}


{% block content %}
    <div class="container main-container headerOffset">
        <div class="row">
            <div class="breadcrumbDiv col-lg-12">
                <ul class="breadcrumb">
                    <li> <a href="{{ path('_loja_index') }}">Home</a> </li>
                    <li class="active"> Cliente </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-7">
                <h1 class="section-title-inner"><span><i class="fa fa-lock"></i> Autenticação</span></h1>
                <div class="row userInfo">

                    <div class="col-xs-12 col-sm-6">
                        <h2 class="block-title-2"> NOVO CLIENTE </h2>
                        <form method="POST" id="form-cadastro" action="{{ path('_loja_cadastro_cliente') }}"> 
                            {{ form_row(form.nome) }}
                            {{ form_row(form.telefone) }}
                            {{ form_row(form.email) }}
                            {{ form_row(form.senha.first) }}
                            {{ form_row(form.senha.second) }}
                            <div class="form-group ">
                                <p class=" clearfix">
                                    <input type="checkbox" id="news" name="news" value="1">
                                    <label for="news" >Receber ofertas de produtos LitoralExtintores!</label>
                                </p>
                            </div>

                            <button class="btn   btn-primary" type="submit"><i class="fa fa-user"></i> Cadastrar</button>
                            {{ form_row(form._token) }}
                            {{ form_errors(form) }}
                        </form>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <h2 class="block-title-2"><span>Já sou Cadastrado?</span></h2>
                        <form method="POST" action="{{ path('_login_cliente_check') }}">
                            <div class="form-group">
                                <label>E-mail*</label>
                                <input class="form-control" value="{{ last_username }}" type="text" name="_username" placeholder="E-mail" /> 
                            </div>
                            <div class="form-group">
                                <label>Senha*</label>
                                <input class="form-control" type="password" name="_password" placeholder="Senha" /> 
                            </div>
                            <button class="btn   btn-primary" type="submit"><i class="fa fa-user"></i> Entrar</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-5"> </div>
        </div>
        <div style="clear:both"></div>
    </div>
        <div class="gap"> </div>


{% endblock %}

