{% extends "LitoralExtintoresLojaBundle:Admin:layout.html.twig" %}
{% block title %}LitoralExtintores | Usuários{% endblock %}
{% block head %}
    <link href="{{ asset('bundles/litoralextintoresloja/admin/css/style.datatables.css') }}" rel="stylesheet">
    <script src="{{ asset('bundles/litoralextintoresloja/admin/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('bundles/litoralextintoresloja/admin/js/jquery-datatables.responsive.js') }}"></script>
    <script src="//cdn.datatables.net/plug-ins/725b2a2115b/integration/bootstrap/3/dataTables.bootstrap.js"></script>
    <script src="{{ asset('bundles/litoralextintoresloja/admin/js/select2.min.js') }}"></script>
    
    <script>
        var exRowTable;
        jQuery(document).ready(function(){
            exRowTable = jQuery('#exRowTable').DataTable({
                    responsive: true,
                    "ajax": "{{ path('_usuario_pagination') }}",
                    "aoColumnDefs": [
                        { 'bSortable': false, 'aTargets': [ 3 ] }
                     ]
            });

            // DataTables Length to Select2
            jQuery('div.dataTables_length select').removeClass('form-control input-sm');
            jQuery('div.dataTables_length select').css({width: '60px'});
            jQuery('div.dataTables_length select').select2({
                minimumResultsForSearch: -1
            });
            
            

        });
        function excluirProduto(id) {
            bootbox.confirm("Deseja realmente excluir este Usuário?", function(result) {
                if (result) {
                    jQuery.post("{{ path('_usuario_excluir') }}", {id: id}, function(data){
                        if (data.ok==1) {
                            location.href = "";
                        } else {
                            bootbox.alert(data.error);
                        }
                        
                    }, "json");
                }
            });
        }
        
       
    </script>
{% endblock %}
{% block mainpanel %}
    <div class="pageheader">
        <div class="media">
            <div class="pageicon pull-left">
                <i class="fa fa-users"></i>
            </div>
            <div class="media-body">
                <ul class="breadcrumb">
                    <li><a href="{{ path('_usuario') }}"><i class="glyphicon glyphicon-user"></i></a></li>
                    <li><a href="">Usuário</a></li>
                    <li>Lista de Usuários</li>
                </ul>
                <h4>Usuários</h4>
            </div>
        </div><!-- media -->
    </div><!-- pageheader -->
     <div class="contentpanel">
        <div class="panel panel-success-head">
            <table id="exRowTable" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>E-mail</th>
                        <th>Ativo</th>
                        <th></th>
                    </tr>
                </thead>
            </table>
        </div><!-- panel -->
     </div><!-- contentpanel -->
{% endblock %}
