{% extends "LitoralExtintoresLojaBundle:Loja:layout.html.twig" %}
{% block title %}Litoral Extintores Tramandaí RS{% endblock %}

{% block head %}
{% endblock %}


{% block content %}

        <div class="container main-container sobre">

            <div class="row innerPage">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="row userInfo">
                        <div class="col-xs-12 col-sm-12">
                            <h1 class="title-big text-center section-title-style2">
                                <span >
                                    Sobre nós
                                </span>
                            </h1>
                            

                            <h2>{{ empresa.nome }}</h2>
                            <p class="lead text-center">
                                {{ empresa.descricao|raw }}
                            </p>
                            <hr class="hr hr30">                            
                            <img src="{% path empresa.getImagens.get(0).media, 'big' %}" class="img-responsive" alt=""/>
                            <hr>
                        </div>
                    </div>  <!--/row end-->
                </div>
            </div> <!--/.innerPage-->
            <div style="clear:both">  </div>
        </div><!-- /.main-container -->

{% endblock %}