{% extends "LitoralExtintoresLojaBundle:Loja:layout.html.twig" %}
{% block title %}Litoral Extintores Tramandaí RS{% endblock %}

{% block head %}
{% endblock %}


{% block content %}
    <ul class="breadcrumbs">
        <div class="container">
            <li class="home">
                <a href="{{ path('_loja_index') }}" title="Go to Home Page"><img src="{{ asset('bundles/litoralextintoresloja/loja/images/home.png') }}" alt=""/></a>&nbsp;&nbsp;
                <span>&gt;</span>&nbsp;
            </li>
            <li class="home">
                Litoral Extintores&nbsp; 
                <span>&gt;</span>
            </li>
            <li class="home">
                    <span class="red"> &nbsp;Pedidos e Entregas&nbsp;</span>
            </li>
        </div>
    </ul>
    <div class="contact">
        <div class="container">
            <div class="contact_top">
                <div class="col-md-12 contact_left">
                    <div class="contact_grid contact_address">
                        <h3>Pedidos e Entregas</h3>
                        <p>
                            Podemos já vislumbrar o modo pelo qual a consulta aos diversos militantes faz parte de um processo de gerenciamento das diversas correntes de pensamento. Não obstante, o novo modelo estrutural aqui preconizado estende o alcance e a importância do retorno esperado a longo prazo. Todavia, a revolução dos costumes obstaculiza a apreciação da importância dos procedimentos normalmente adotados. Pensando mais a longo prazo, o surgimento do comércio virtual afeta positivamente a correta previsão do remanejamento dos quadros funcionais. No mundo atual, o julgamento imparcial das eventualidades faz parte de um processo de gerenciamento do remanejamento dos quadros funcionais. 
                        </p>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
{% endblock %}