<div class="miniCartFooter  miniCartFooterInMobile text-right">
{#    <h3 class="text-right subtotal"> Subtotal: R$  {{ valorTotal|number_format(2, ',', '.') }} </h3>#}
    <a href="{{ path('_loja_carrinho') }}" class="btn btn-sm btn-danger"> <i class="fa fa-shopping-cart"> </i> VER CARRINHO </a>
</div>