<footer>
    <div class="footer" id="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-sm-4 col-xs-6">
                    <h3> atendimento </h3>
                    <ul>
                        <li class="supportLi">
                            <h4> <a href="callto:+555136845868" class="inline"> <strong> <i class="fa fa-phone"> </i> +55 51 3684 5868 </strong> </a> </h4>
                            <h4> <a href="mailto:litoralextintores1@hotmail.com" class="inline"> <i class="fa fa-envelope-o"> </i> litoralextintores1@hotmail.com</a> </h4>
                        </li>
                        <br>
                        <img src="{{ asset('bundles/litoralextintoresloja/loja/images/bandeiras.png') }}"/>
                    </ul>                
                </div>

                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 ">
                    <h3> newsletter </h3>
                    <ul>
                        <li>
                            <div class="input-append newsLatterBox text-center">
                                <input type="text" class="full text-center" id="emailNews"  placeholder="E-mail ">
                                <button onclick="assinarNews();" class="btn  bg-gray" type="button"> assinar <i class="fa fa-long-arrow-right"> </i> </button>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                    <h3> Facebook </h3>
                    <ul>
                        <li class="supportLi">
                            <div class="fb-page" data-href="https://www.facebook.com/Litoral-Extintores-229615547386085/" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false" data-show-posts="false"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/litoralExtintores.loja"><a href="https://www.facebook.com/litoralExtintores.loja">Litoral Extintores</a></blockquote></div></div>                
                        </li>
                    </ul>                
                </div>

            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <div class="container">
            <p style="color:#FFFFFF;" class="pull-left"> desenvolvimento <a style="color:#FFFFFF;" href="http://www.agenciawi9.com.br/" target="_blank" title="agência wi9">agência wi9</a> </p>
        </div>
    </div>
</footer>
