<div class="navbar navbar-tshop navbar-fixed-top megamenu" role="navigation">
    <div class="navbar-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-6 col-xs-6 col-md-6">
                </div>
                <div class="col-lg-6 col-sm-6 col-xs-6 col-md-6 no-margin no-padding">
                    <div class="pull-right">
                        <ul class="userMenu">
                            {% if app.user != null %}
                            <li>
                                <a href="#" >
                                    <span class="hidden-xs">Olá {{ app.user.nome }}</span> 
                                </a>
                            </li>
                            {% else %}
                            <li>
                                <a href="{{ path("_loja_cliente") }}" >
                                    <span class="hidden-xs">login</span> <i class="glyphicon glyphicon-log-in hide visible-xs"></i>
                                </a>
                            </li>
                            <li class="hidden-xs">
                                <a href="{{ path("_loja_cadastro_cliente") }}" >criar conta</a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="sr-only"> Toggle navigation </span> <span class="icon-bar"> </span> <span class="icon-bar"> </span> <span class="icon-bar"> </span> </button>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-cart"> <i class="fa fa-shopping-cart colorWhite"> </i> <span class="cartRespons colorWhite">Orçamento</span> </button>            
            <a title="Litoral Extintores" href="{{ path('_loja_index') }}" class="navbar-brand "> 
                <img style="margin-top:-15px;" title="Litoral Extintores" alt="Litoral Extintores" src="{{ asset('bundles/litoralextintoresloja/loja/images/logo.png') }}">
            </a>

            <div class="search-box pull-right hidden-lg hidden-md hidden-sm">
                <!--<div class="input-group">
                    <button class="btn btn-nobg getFullSearch" type="button"> <i class="fa fa-search"> </i> </button>
                </div>-->
            </div>
        </div>

        <div class="navbar-cart collapse">
            <div class="cartMenu col-lg-4 col-xs-12 col-md-4 ">
                {{ render(controller('LitoralExtintoresLojaBundle:Loja/Carrinho:carrinhoTop')) }}
            </div>
        </div>

        <div class="navbar-collapse collapse">
            {{ render(controller('LitoralExtintoresLojaBundle:Loja/Default:renderMenu')) }}
            
{#            <div class="nav navbar-nav navbar-right hidden-xs">
                <div class="dropdown cartMenu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-shopping-cart"> </i>
                        <span class="cartRespons"> &nbsp; {{ render(controller('LitoralExtintoresLojaBundle:Loja/Carrinho:carrinhoValor')) }} </span>
                        <b class="caret"> </b>
                    </a>

                    <div class="dropdown-menu ">
                        {{ render(controller('LitoralExtintoresLojaBundle:Loja/Carrinho:carrinhoTop')) }}
                    </div>
                </div>

                <!--<div class="search-box">
                    <div class="input-group">
                        <button class="btn btn-nobg getFullSearch" type="button"> <i class="fa fa-search"> </i> </button>
                    </div>
                </div>-->
            </div>
#}                    
                    
      <div class="search-box static-search  w100 hidden-lg hidden-md hidden-sm navbar-formbox navbar-right">
       <div style="clear:both"></div>
        <form id="search-form" method="GET" action="#" role="search" class="navbar-form">
        <div class="input-group">
            <input type="text" style="padding:6px 6px;" name="q" placeholder="Pesquisa" class="form-control">
            <div class="input-group-btn">
                <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
            </div>
        </div>
        </form>
        
          <!--<div class="input-group hide">
            <button class="btn btn-nobg" type="button"> <i class="fa fa-search"> </i> </button>
          </div>-->
          <!-- /input-group --> 
        <!-- /input-group --> 
        
      </div>
      
      <!--- this part will be hidden for mobile version -->
      <div class="nav navbar-nav navbar-right hidden-xs">
        <div class="dropdown  cartMenu static-search-box"> <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <i class="fa fa-shopping-cart"> </i> <span class="cartRespons"> Orçamento </span> <b class="caret"> </b> </a>
          <div class="dropdown-menu col-lg-4 col-xs-12 col-md-4 ">
            {{ render(controller('LitoralExtintoresLojaBundle:Loja/Carrinho:carrinhoTop')) }}            <!--/.miniCartTable-->
            </div>
          <!--/.dropdown-menu--> 
        </div>
        <!--/.cartMenu-->
        
		<!--<div class="search-box static-search pull-right">
			<form id="search-form" method="GET" action="#" role="search" class="navbar-form">
				<div class="input-group">
					<input type="text" style="padding:6px 6px;" name="q" placeholder="Pesquisar" class="form-control">
					<div class="input-group-btn">
					<button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
				</div>
				</div>
			</form>
		</div>-->
      </div>
                    
                    
                    
        </div>
    </div>
    <!--<div class="search-full text-right"> <a class="pull-right search-close"> <i class=" fa fa-times-circle"> </i> </a>
        <div class="searchInputBox pull-right">
            <input type="search" data-searchurl="search?=" name="q" placeholder="digite o produto que procuras" class="search-input">
            <button class="btn-nobg search-btn" type="submit"> <i class="fa fa-search"> </i> </button>
        </div>
    </div>-->
</div>