<!DOCTYPE HTML>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        
        
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta name="author" content="Agência WI9"/>
        <meta name="description" content="LITORAL EXTINTORES, CUIDANDO DO SEU PATRIMÔNIO"/>
        <meta name="keywords" content="Litoral Extintores , distribuidora de extintores, Extintores em Tramandaí, Extintores Litoral Norte, venda de extintores, recarga de extintores, manutenção de extintores de incêndio, Equipamentos para incêndio, sinalização de emergência"/>
        
        
        <link rel="shortcut icon" href="{{ asset('bundles/litoralextintoresloja/loja/assets/favicon/favicon.ico') }}" type="image/x-icon" />
        <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('bundles/litoralextintoresloja/loja/assets/favicon/apple-touch-icon-72x72.png') }}" />
        <link rel="apple-touch-icon" sizes="144x144" href="{{ asset('bundles/litoralextintoresloja/loja/assets/favicon/apple-touch-icon-144x144.png') }}" />

        
        <link href="{{ asset('bundles/litoralextintoresloja/loja/assets/bootstrap/css/bootstrap.css') }}" rel="stylesheet">
        <link id="pagestyle" rel="stylesheet" type="text/css" href="{{ asset('bundles/litoralextintoresloja/loja/assets/css/skin-1.css') }}">
        <link href="{{ asset('bundles/litoralextintoresloja/loja/assets/css/style.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/litoralextintoresloja/loja/assets/css/animate.min.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/litoralextintoresloja/loja/assets/css/owl.carousel.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/litoralextintoresloja/loja/assets/css/owl.theme.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/litoralextintoresloja/loja/assets/css/ion.checkRadio.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/litoralextintoresloja/loja/assets/css/ion.checkRadio.cloudy.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/litoralextintoresloja/loja/assets/css/jquery.mCustomScrollbar.css') }}" rel="stylesheet">

        <script>
            paceOptions = {
              elements: true
            };
        </script>
        <script src="{{ asset('bundles/litoralextintoresloja/loja/assets/js/pace.min.js') }}"></script>
        <script type="text/javascript">
                function swapStyleSheet(sheet){
                        document.getElementById('pagestyle').setAttribute('href', sheet);
                }
        </script>

        <style>
                .themeControll {
                        background:#2d3e50;
                        height: auto;
                        width:100px;
                        position:fixed;
                        left:0;
                        padding:20px;
                        top:20%;
                        z-index:999999;
                        -webkit-transform: translateX(0);
                        -moz-transform: translateX(0);
                        -o-transform: translateX(0);
                        -ms-transform: translateX(0);
                        transform: translateX(0);
                        opacity: 1;
                        -ms-filter: none;
                        filter: none;
                        -webkit-transition: opacity .5s linear, -webkit-transform .7s cubic-bezier(.56, .48, 0, .99);
                        -moz-transition: opacity .5s linear, -moz-transform .7s cubic-bezier(.56, .48, 0, .99);
                        -o-transition: opacity .5s linear, -o-transform .7s cubic-bezier(.56, .48, 0, .99);
                        -ms-transition: opacity .5s linear, -ms-transform .7s cubic-bezier(.56, .48, 0, .99);
                        transition: opacity .5s linear, transform .7s cubic-bezier(.56, .48, 0, .99);
                }

                .themeControll.active {
                        display: block;
                        -webkit-transform: translateX(-100px);
                        -moz-transform: translateX(-100px);
                        -o-transform: translateX(-100px);
                        -ms-transform: translateX(-1020px);
                        transform: translateX(-100px);
                        -webkit-transition: opacity .5s linear, -webkit-transform .7s cubic-bezier(.56, .48, 0, .99);
                        -moz-transition: opacity .5s linear, -moz-transform .7s cubic-bezier(.56, .48, 0, .99);
                        -o-transition: opacity .5s linear, -o-transform .7s cubic-bezier(.56, .48, 0, .99);
                        -ms-transition: opacity .5s linear, -ms-transform .7s cubic-bezier(.56, .48, 0, .99);
                        transition: opacity .5s linear, transform .7s cubic-bezier(.56, .48, 0, .99);

                }

                .themeControll a {
            border-radius: 3px;
            clear: both;
            display: block;
            height: 25px;
            margin-bottom: 4px;
            width: 50px;
                }

                .tbtn {
            background:#2D3E50;
            color: #FFFFFF !important;
            font-size: 30px;
            height: auto;
            padding: 10px;
            position: absolute;
            right: -40px;
            top: 0;
            width: 40px;
                cursor:pointer;
           }

                @media (max-width: 780px) {
            .themeControll {
                display:none;
            }
        }
        </style>
        
        <script type="text/javascript" src="{{ asset('bundles/litoralextintoresloja/loja/assets/js/jquery/1.8.3/jquery.js') }}"></script>
        <script src="{{ asset('bundles/litoralextintoresloja/loja/assets/bootstrap/js/bootstrap.min.js') }}"></script>
        <script>
        $(window).load(function(){
         $('#modalAds').modal('show');
         $('#modalAds').removeClass('hide');
        });
        </script>
        <script src="{{ asset('bundles/litoralextintoresloja/loja/assets/js/jquery.cycle2.min.js') }}"></script>
        <script src="{{ asset('bundles/litoralextintoresloja/loja/assets/js/jquery.easing.1.3.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/litoralextintoresloja/loja/assets/js/jquery.parallax-1.1.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/litoralextintoresloja/loja/assets/js/helper-plugins/jquery.mousewheel.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/litoralextintoresloja/loja/assets/js/jquery.mCustomScrollbar.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/litoralextintoresloja/loja/assets/js/ion-checkRadio/ion.checkRadio.min.js') }}"></script>
        <script src="{{ asset('bundles/litoralextintoresloja/loja/assets/js/grids.js') }}"></script>
        <script src="{{ asset('bundles/litoralextintoresloja/loja/assets/js/owl.carousel.min.js') }}"></script>
        <script src="{{ asset('bundles/litoralextintoresloja/loja/assets/js/jquery.minimalect.min.js') }}"></script>
        <script src="{{ asset('bundles/litoralextintoresloja/loja/assets/js/bootstrap.touchspin.js') }}"></script>
        <script src="{{ asset('bundles/litoralextintoresloja/loja/assets/js/home.js') }}"></script>
        <script src="{{ asset('bundles/litoralextintoresloja/loja/assets/js/script.js') }}"></script>
        <script src="{{ asset('bundles/litoralextintoresloja/loja/assets/js/bootbox.min.js') }}"></script>

        <script type="text/javascript">            
            function adicionarCarrinho(idProduto) {
                jQuery.get("{{ path("_loja_carrinho_adicionar") }}/"+idProduto, function(msg) {
                    bootbox.alert(msg, function(){
                        location.href = "";
                    });
                });
            }
            
            function assinarNews() {
                var filter = /^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/i;
                var email = jQuery('#emailNews').val();
                
                if (!filter.test(email)) {
                    bootbox.alert("Insira uma e-mail válido");
                } else {
                    jQuery.post("{{ path('_loja_news') }}", {email: email}, function(msg) {
                        bootbox.alert(msg);
                    });
                }
            }
        </script>
        
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-79272506-1', 'auto');
          ga('send', 'pageview');
        </script>


        
        {% block head %}{% endblock %}
    </head>
    <body>
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.5";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
        {% include 'LitoralExtintoresLojaBundle:Loja:header.html.twig'  %}
        {% block content %}{% endblock %}
        {% include 'LitoralExtintoresLojaBundle:Loja:footer.html.twig'  %}

    </body>
</html>