<ul class="nav navbar-nav">
    <li class="active"> <a href="{{ path('_loja_index') }}"> home </a> </li>
    <li> <a href="{{ path('_loja_empresa') }}"> Quem Somos </a> </li>
    <li class="dropdown"> 
        <a data-toggle="dropdown" class="dropdown-toggle" href="#"> produtos <b class="caret"> </b> </a>
        <ul class="dropdown-menu">
            {% for categoria in categorias %}
            <li> 
                <a href="{{ path('_loja_categoria', {slug: categoria.getSlug}) }}"> {{ categoria.nome }} </a> 
            </li>
            {% endfor %}
        </ul>
    </li>
    <li class="dropdown"> 
        <a data-toggle="dropdown" class="dropdown-toggle" href="#"> serviços <b class="caret"> </b> </a>
        <ul class="dropdown-menu">
            {% for servico in servicos %}
            <li> 
                <a href="{{ path('loja_servico', {slug: servico.getSlug}) }}"> {{ servico.titulo }} </a> 
            </li>
            {% endfor %}
        </ul>
    </li>
    <li> <a href="{{ path('_loja_noticia_lista') }}"> Notícias </a> </li>
    <li> <a href="{{ path('_loja_contato') }}"> Contato </a> </li>
</ul>
