{% extends "LitoralExtintoresLojaBundle:Loja:layout.html.twig" %}
{% block title %}Litoral Extintores Tramandaí RS{% endblock %}

{% block head %}
{% endblock %}


{% block content %}
    
        <div class="parallaxOffset no-padding fixedContent contact-intro">
            <div class="w100 map">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3455.1564483613747!2d-50.151178184761264!3d-30.00366383634169!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x951872d16260f93b%3A0x8fdf71c50ee4c857!2sLitoral+Extintores!5e0!3m2!1spt-BR!2sbr!4v1462285451589" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>            </div>
        </div><!--/.contact-intro || map end-->
        <div class="wrapper whitebg contact-us">
            <div class="container main-container ">
                <div class="row innerPage">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="row userInfo">
                            <div class="col-xs-12 col-sm-12">
                                <h1 class="title-big text-center section-title-style2">
                                    <span> Contato </span>
                                </h1>
                                <div class="row">
                                    <form method="post" action="">
                                        {{ form_errors(form) }}
                                        <div class="form-group">
                                            {{ form_widget(form.nome, {'attr': {'class': 'form-control', 'placeholder': 'Nome'}}) }}
                                            {{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder': 'E-mail'}}) }}
                                            {{ form_widget(form.mensagem, {'attr': {'class': 'form-control', 'placeholder': 'Mensagem'}}) }}
                                        </div>
                                        <div class="form-group">
                                            <button class="btn   btn-primary">Enviar</button>
                                        </div>
                                        {{ form_rest(form) }}
                                    </form>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <h3 class="block-title-5">
                                            Loja física 
                                        </h3>
                                        <p>
                                            <strong>
                                                Endereço
                                            </strong>
                                            :   Av. Emancipação 2760 - BAIRRO SÃO JOSÉ
                                            <br>
                                            <strong>
                                                Telefone
                                            </strong>
                                            : 	3661-1753 / 3684-5868
                                            <br>
                                            <strong>
                                                Whats
                                            </strong>
                                            :    (51) 99307-4836
                                            <br>
                                            <strong>
                                                E-mail
                                            </strong>
                                            : 	<a href="malito:litoralextintores1@hotmail.com">litoralextintores1@hotmail.com</a>
                                            / <a href="malito:vendas.litoralextintores@hotmail.com">vendas.litoralextintores@hotmail.com</a>
                                            
                                        </p>
                                    </div>
                                    <div style="clear:both"> </div>

                                </div><!--/.row-->
                            </div>






                        </div> <!--/.row  ||  -->

                    </div>
                </div>  <!--/row || innerPage end-->
                <div style="clear:both"> </div>
            </div><!-- ./main-container -->
            <div class="gap"></div>
        </div><!-- /main-container -->
    
{% endblock %}