{% extends "LitoralExtintoresLojaBundle:Loja:layout.html.twig" %}
{% block title %}Litoral Extintores Tramandaí RS{% endblock %}

{% block head %}
</script>

{% endblock %}


{% block content %}
    <div class="container main-container headerOffset">
        <div class="row">
            <div class="breadcrumbDiv col-lg-12">
                <ul class="breadcrumb">
                    <li> <a href="{{ path('_loja_index') }}">Home</a> </li>
                    <li class="active">SERVIÇOS </li>
                </ul>
            </div>
        </div>


        <div class="row"> 

            <!--left column-->

            <div class="col-lg-3 col-md-3 col-sm-12">
                <div class="panel-group" id="accordionNo"> 
                    <!--Category-->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title"> <a data-toggle="collapse"  href="#collapseCategory" class="collapseWill"> <span class="pull-left"> <i class="fa fa-caret-right"></i></span> CATEGORIAS</a> </h4>
                        </div>
                        <div id="collapseCategory" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <ul class="nav nav-pills nav-stacked tree">
                                    {% for servico in servicos %}
                                        <li> <a href="{{ path('loja_servico', {slug: servico.getSlug}) }}"> {{ servico.titulo }} </a> </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

                            
                            
            <div class="col-lg-9 col-md-9 col-sm-12">
                <div class="w100 clearfix ">
                    <h2> {{ servicoAtual.titulo }} </h2>
                </div>
                <div class="row categoryProduct xsResponse clearfix">
                    <div class="col-sm-12 col-lg-12 col-md-12 col-xs-12">

                        {% for imagem in servicoAtual.getImagens %}
                            <img src="{% path imagem.media, 'big' %}" class="img-responsive" alt=""/>
                        {% endfor %}

                        {{ servicoAtual.descricao|raw }}

                        <h2 class="block-title-2"> Interesse </h2>
                        <form role="form" action="" method="POST">
                            {{ form_errors(form) }}
                            <div class="form-group">
                                <label for="exampleInputName">Nome</label>
                                {{ form_widget(form.nome, {'attr': {'class': 'form-control', 'placeholder': 'Digite seu nome'}}) }}
                            </div>
                            <div class="form-group">
                                <label for="InputEmail1">E-mail</label>
                                {{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder': 'Digite seu e-mail'}}) }}
                            </div>
                            <button type="submit" class="btn   btn-primary"><i class="fa fa-send"></i>  Enviar</button>
                            {{ form_rest(form) }}
                        </form>
                    </div>
                    <div class="pull-right pull-right col-sm-4 col-xs-12 no-padding text-right text-left-xs">
                    </div>
                    </div>
            </div>

                            
                            
        </div>
    </div>
                        <div class="gap"></div>
{% endblock %}