{% extends "LitoralExtintoresLojaBundle:Admin:layout.html.twig" %}
{% block title %}LitoralExtintores | News{% endblock %}
{% block head %}
    <link href="{{ asset('bundles/litoralextintoresloja/admin/css/style.datatables.css') }}" rel="stylesheet">
    <script src="{{ asset('bundles/litoralextintoresloja/admin/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('bundles/litoralextintoresloja/admin/js/jquery-datatables.responsive.js') }}"></script>
    <script src="//cdn.datatables.net/plug-ins/725b2a2115b/integration/bootstrap/3/dataTables.bootstrap.js"></script>
    <script src="{{ asset('bundles/litoralextintoresloja/admin/js/select2.min.js') }}"></script>
    
    <script>
        var exRowTable;
        jQuery(document).ready(function(){
            exRowTable = jQuery('#exRowTable').DataTable({
                    responsive: true,
                    "ajax": "{{ path('_news_pagination') }}"
            });

            // DataTables Length to Select2
            jQuery('div.dataTables_length select').removeClass('form-control input-sm');
            jQuery('div.dataTables_length select').css({width: '60px'});
            jQuery('div.dataTables_length select').select2({
                minimumResultsForSearch: -1
            });
            
            

        });
       
    </script>
{% endblock %}
{% block mainpanel %}
    <div class="pageheader">
        <div class="media">
            <div class="pageicon pull-left">
                <i class="fa fa-edit"></i>
            </div>
            <div class="media-body">
                <ul class="breadcrumb">
                    <li><a href="{{ path('_news') }}"><i class="glyphicon glyphicon-edit"></i></a></li>
                    <li><a href="">News</a></li>
                    <li>Lista de News</li>
                </ul>
                    
                <h4>News</h4>
                
            </div>
            <div class="pull-right">
                <button onclick="location.href = '{{ path('_news_exportar') }}'" style="margin-top: -20px" class="btn btn-primary">Exportar</button>
            </div>

        </div><!-- media -->
    </div><!-- pageheader -->
     <div class="contentpanel">
        <div class="panel panel-success-head">
            <table id="exRowTable" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>E-mail</th>
                    </tr>
                </thead>
            </table>
        </div><!-- panel -->
     </div><!-- contentpanel -->
{% endblock %}
