{% extends "LitoralExtintoresLojaBundle:Loja:layout.html.twig" %}
{% block title %}LitoralExtintores Tramandaí RS{% endblock %}

{% block content %}
        
    <div class="banner">
        <div class="full-container">
            <div class="slider-content">
                <ul id="pager2" class="container">
                </ul>
                <span class="prevControl sliderControl"> <i class="fa fa-angle-left fa-3x "></i></span> <span class="nextControl sliderControl"> <i class="fa fa-angle-right fa-3x "></i></span>
                <div class="slider slider-v1" 
                     data-cycle-swipe=true
                     data-cycle-prev=".prevControl"
                     data-cycle-next=".nextControl" data-cycle-loader="wait">
                    {% for banner in banners %}
                    <div class="slider-item slider-item-img{{ loop.index }}"> 
                        <a href="{{ banner.link }}">
                        <div class="sliderInfo">
                          <div class="container">
                            
                          </div>
                        </div>
                            <img src="{% path banner.media, 'banner' %}" class="img-responsive parallaximg sliderImg" alt="img"> 
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div class="container main-container"> 

        <div class="row featuredPostContainer globalPadding style2">
            <h3 class="section-title style2 text-center"><span>PRODUTOS DETAQUES</span></h3>
            <div id="productslider" class="owl-carousel owl-theme">
                {% for produto in produtos %}
                    {% if produto.getImagens|length > 0 %}
                    <div class="item">
                        <div class="product">
                            <div class="image">  
                                <div class="quickview">
                                </div>
                                <a href="{{ path('_loja_produto', {slugCategoria: produto.getCategorias.get(0).getSlug, slug: produto.getSlug}) }}">
                                    <img src="{% path produto.getImagens.get(0).media, 'produto' %}" alt="img" class="img-responsive" />
                                </a>
                            </div>
                            <div class="description">
                                <h4><a href="{{ path('_loja_produto', {slugCategoria: produto.getCategorias.get(0).getSlug, slug: produto.getSlug}) }}">{{ produto.getNome }} </a></h4>
                                <p>{{ produto.getDescricao|striptags|slice(0, 30) }} </p>
                            </div>
                            <div class="price"> <span>{#R$ {{ produto.getValor|number_format(2, ',', '.') }}#} Consulte Valor</span> </div>
                            <div class="action-control">
                                <a href="javascript:adicionarCarrinho({{ produto.getId }})" class="btn btn-primary">
                                    <span class="add2cart">
                                        <i class="glyphicon glyphicon-shopping-cart"></i> 
                                        Adicionar 
                                    </span> 
                                </a> </div>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
            <!--/.productslider--> 

        </div>
        <!--/.featuredPostContainer--> 
    </div>
	
	<div class="container main-container">
		<div class="row animated">
            <h3 class="section-title style2 text-center"><span>NOTÍCIAS</span></h3>
                
                        {% for noticia in noticias %}
                    	<div class="col-lg-4 col-md-4 col-sm-6 col-sm-6">
				<a href="{{ path("_loja_noticia", {id: noticia.id})}}">
                                    <img class="img-responsive" src="{% path noticia.getImagens.get(0).media, 'produto' %}" alt="img">
                                    <h3 class="block-title-3">{{ noticia.titulo }}</h3>
                                    <p>
                                        {{ noticia.descricao|striptags|truncate(200, true) }}
                                    </p>
                                </a>
			</div>
                        {% endfor %}
		</div>
	</div>
	
	<div class="container main-container">
		<br>
		<h3 class="section-title"><span>MARCAS</span> <a id="nextBrand" class="link pull-right carousel-nav"> <i class="fa fa-angle-right"></i></a> <a id="prevBrand" class="link pull-right carousel-nav"> <i class="fa fa-angle-left"></i> </a> </h3>
	
		<div class="row">
			<div class="col-lg-12">
				<ul class="no-margin brand-carousel owl-carousel owl-theme">
                                    <li><img src="{{ asset('bundles/litoralextintoresloja/loja/images/marcas/litoralextintores.png') }}" alt="img" ></li>
                                    <li><img src="{{ asset('bundles/litoralextintoresloja/loja/images/parceiros/printlumi.png') }}" alt="img" ></li>
                                    <li><img src="{{ asset('bundles/litoralextintoresloja/loja/images/parceiros/dni.png') }}" alt="img" ></li>
                                    <li><img src="{{ asset('bundles/litoralextintoresloja/loja/images/parceiros/engesul.png') }}" alt="img" ></li>
                                    <li><img src="{{ asset('bundles/litoralextintoresloja/loja/images/parceiros/g-light.png') }}" alt="img" ></li>
                                    <li><img src="{{ asset('bundles/litoralextintoresloja/loja/images/parceiros/key-west.png') }}" alt="img" ></li>
                                    <li><img src="{{ asset('bundles/litoralextintoresloja/loja/images/marcas/extang.png') }}" alt="img" ></li>
                                    <li><img src="{{ asset('bundles/litoralextintoresloja/loja/images/marcas/resil.png') }}" alt="img" ></li>
                                    <li><img src="{{ asset('bundles/litoralextintoresloja/loja/images/marcas/printlux.png') }}" alt="img" ></li>
                                    <li><img src="{{ asset('bundles/litoralextintoresloja/loja/images/marcas/segurimax.png') }}" alt="img" ></li>
                                    <li><img src="{{ asset('bundles/litoralextintoresloja/loja/images/marcas/sinoscreen.png') }}" alt="img" ></li>
				</ul>
			</div>
		</div>
	</div>
        <img src=""/>

	<img class="img-responsive" src="{{ asset('bundles/litoralextintoresloja/loja/images/rodape.jpg') }}" title="Litoral Extintores - Condições especiais para instaladores" alt="">
		  


{% endblock %}

