{% extends "LitoralExtintoresLojaBundle:Loja:layout.html.twig" %}
{% block title %}Litoral Extintores Tramandaí RS{% endblock %}

{% block head %}
</script>

{% endblock %}


{% block content %}
    <div class="container main-container headerOffset">
        <div class="row">
            <div class="breadcrumbDiv col-lg-12">
                <ul class="breadcrumb">
                    <li> <a href="{{ path('_loja_index') }}">Home</a> </li>
                    <li class="active">CATEGORIAS </li>
                </ul>
            </div>
        </div>


        <div class="row"> 

            <!--left column-->

            <div class="col-lg-3 col-md-3 col-sm-12">
                <div class="panel-group" id="accordionNo"> 
                    <!--Category-->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title"> <a data-toggle="collapse"  href="#collapseCategory" class="collapseWill"> <span class="pull-left"> <i class="fa fa-caret-right"></i></span> CATEGORIAS</a> </h4>
                        </div>
                        <div id="collapseCategory" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <ul class="nav nav-pills nav-stacked tree">
                                    {% for cat in categorias %}
                                        <li> <a href="{{ path('_loja_categoria', {slug: cat.getSlug}) }}"> {{ cat.nome }} </a> </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-9 col-md-9 col-sm-12">
                <div class="w100 clearfix category-top">
                    <h2> {{ categoria.nome }} </h2>
                </div>

                <div class="row  categoryProduct xsResponse clearfix">
                    {% for prod in produtos %}
                        <div class="item col-sm-4 col-lg-4 col-md-4 col-xs-6">
                            <div class="product">
                                <div class="image">  
                                    <div class="quickview">
                                    </div>
                                    <a href="{{ path('_loja_produto', {slugCategoria: categoria.getSlug, slug: prod.getSlug}) }}">
                                        <img src="{% path prod.getImagens.get(0).media, 'produto' %}" alt="img" class="img-responsive">
                                    </a>
                                </div>
                                <div class="description">
                                    <h4><a href="{{ path('_loja_produto', {slugCategoria: categoria.getSlug, slug: prod.getSlug}) }}">{{ prod.nome }}</a></h4>
{#                                    <div class="grid-description">
                                        <p>{{ prod.descricao|striptags }} </p>
                                    </div>
#}                                    <div class="list-description">
                                        <p> Sed sed rutrum purus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque risus lacus, iaculis in ante vitae, viverra hendrerit ante. Aliquam vel fermentum elit. Morbi rhoncus, neque in vulputate facilisis, leo tortor sollicitudin odio, quis pellentesque lorem nisi quis enim. In dolor mi, hendrerit at blandit vulputate, congue a purus. Sed eget turpis sit amet orci euismod accumsan. Praesent sit amet placerat elit. </p>
                                    </div>
                                    <div class="price"> <span>{#R$ {{ prod.getValor|number_format(2, ',', '.') }}#} Consulte Valor</span> </div>
                                    <div class="action-control"> <a class="btn btn-primary" href="javascript:adicionarCarrinho({{ prod.id }})"> <span class="add2cart"><i class="glyphicon glyphicon-shopping-cart"> </i> Adicionar </span> </a> </div>
                                </div>
                            </div>

                        </div>
                    {% endfor %}
                </div>
                
                
                <div class="w100 categoryFooter">
                    <div class="pagination pull-left no-margin-top">
                        <ul class="pagination no-margin-top">
                            <li> <a href="{{ path('_loja_categoria', {slug: categoria.getSlug, page: (page-1), order: order}) }}">«</a></li>
                            {% for i in 1..totalPages %}
                                <li {% if loop.index==page %} class="active" {% endif %}><a href="{{ path('_loja_categoria', {slug: categoria.getSlug, page: loop.index, order: order}) }}">{{ loop.index }}</a></li>
                            {% endfor %}
                            <li> <a href="{{ path('_loja_categoria', {slug: categoria.getSlug, page: (page+1), order: order}) }}">»</a></li>
                        </ul>
                    </div>
                    <div class="pull-right pull-right col-sm-4 col-xs-12 no-padding text-right text-left-xs">
                        <!-- <p>Showing 1–450 of 12 results</p>-->
                    </div>
                </div>

                
            </div>
        </div>
    </div>

{% endblock %}