{% extends "LitoralExtintoresLojaBundle:Admin:layout.html.twig" %}
{% form_theme form 'LitoralExtintoresLojaBundle:Admin/Form:fields.html.twig' %}
{% block title %}LitoralExtintores | Banner{% endblock %}
{% block head %}
    <link href="{{ asset('bundles/litoralextintoresloja/admin/css/basic.css') }}" rel="stylesheet" />
    <link href="{{ asset('bundles/litoralextintoresloja/admin/css/dropzone.css') }}" rel="stylesheet" />
    <script src="{{ asset('bundles/litoralextintoresloja/admin/js/jquery.validate.min.js') }}"></script>
    <script src="{{ asset('bundles/litoralextintoresloja/admin/js/messages_ptbr.js') }}"></script>
    <script src="{{ asset('bundles/litoralextintoresloja/admin/js/validate/additional-methods.js') }}"></script>
    <script src="{{ asset('bundles/litoralextintoresloja/admin/js/jquery-ui-1.10.3.min.js') }}"></script>
    <script src="{{ asset('bundles/litoralextintoresloja/admin/js/dropzone.min.js') }}"></script>
    
    <script type="text/javascript">
        jQuery(document).ready(function(){
            jQuery('#loading').hide();
            jQuery("#basicForm").validate({
                rules: {
                    //"cliente[cpf]":         {required: {
                    //                                    depends: function() { return (jQuery('#cliente_cnpj').val() == ''); }
                    //                                    },
                    //                                    cpf: true},
                    //"cliente[cnpj]":         {required: {
                    //                                    depends: function() { return (jQuery('#cliente_cpf').val() == ''); }
                    //                                    },
                    //                                    cnpj: true},
                    "banner[media]":       {required: true},
                    //"cliente[nascimento]":  {brazilianDate: true}
                },
                highlight: function(element) {
                    jQuery(element).closest('.form-group').removeClass('has-success').addClass('has-error');
                },
                success: function(element) {
                    jQuery(element).closest('.form-group').removeClass('has-error');
                },
                errorPlacement: function(error, element) {
                    jQuery(element).closest('.form-group').append(error);
                },
                submitHandler: function(form) {
                    if (jQuery("#banner_media").val()=="") {
                        bootbox.alert("Insira uma iamgem");
                    } else {
                        jQuery("#salvar").hide();
                        jQuery('#loading').show();
                        form.submit();
                    }
               }
            });
            
            Dropzone.autoDiscover = false;                
            Dropzone.confirm = function(question, accepted, rejected) {
                bootbox.confirm(question, function(result) {
                    return result ? accepted() : null != rejected ? rejected() : void 0;
                });
            };
            
            jQuery(".dropzone").dropzone({
                url: '{{ path("_upload") }}',
                uploadMultiple: false,
                maxFiles: 1,
                addRemoveLinks: true,
                acceptedFiles: "image/*",
                dictDefaultMessage: "Arraste arquivos para cá",
                dictCancelUpload: "Cancelar upload",
                dictCancelUploadConfirmation: "Tem certeza que deseja cancelar upload?",
                dictRemoveFile: "Remover Imagem",
                dictMaxFilesExceeded: "Somente uma imagem é permitida",
                dictRemoveFileConfirmation: "Excluir definitavamente a imagem?"
            });
            
            var myDrop = Dropzone.forElement(".dropzone"); 
            
            myDrop.on("success", function(file, data){
                file.id = data;
                if (file.temp !== false) {
                    file.temp = true;
                }
                jQuery("#banner_media").val(data);
            });
            myDrop.on("removedfile", function (file) {
                if (file.temp) {
                    jQuery.post("{{ path('_upload_delete') }}", {id: file.id});
                } else if (!file.temp && file.id>0) {
                    jQuery("form").append(jQuery("<input />").attr("type", "hidden").attr("name", "excluidas[]").val(file.id));
                    jQuery("#banner_media").val("");
                }
            });
            
            myDrop.on("maxfilesexceeded", function(file) {
                bootbox.alert("Somente uma imagem é permitida");
                myDrop.removeFile(file);
            });
                
            {% if banner.media %}
                // Create the mock file:
                var imagem = {
                    name: '{{ banner.media.name }}', 
                    size: '{{ banner.media.size }}',
                    id: '{{ banner.media.id }}',
                    accepted: true,
                    temp: false
                };
                // Call the default addedfile event handler
                myDrop.files.push(imagem);
                myDrop.emit("addedfile", imagem);
                myDrop.emit("thumbnail", imagem, '{% path banner.media, 'small' %}');
                myDrop.emit("success", imagem, imagem.id);
                myDrop.element.classList.add("dz-started");
            {% endif %}
        });
            
                        
            
        
    </script>
{% endblock %}

{% block mainpanel %}
<div class="pageheader">
    <div class="media">
        <div class="pageicon pull-left">
            <i class="fa fa-camera"></i>
        </div>
        <div class="media-body">
            <ul class="breadcrumb">
                <li><a href=""><i class="glyphicon glyphicon-camera"></i></a></li>
                <li><a href="">Banner</a></li>
                <li>{{ banner.getid>0 ? "Editar" : "Cadastrar" }} Banner</li>
            </ul>
            <h4>{{ banner.getid>0 ? "Editar" : "Cadastrar" }} Banner</h4>
        </div>
    </div><!-- media -->
</div><!-- pageheader -->

<div class="contentpanel">
    <div class="row">
        <div class="col-md-12">
            <form method="POST" class="form-horizontal form-bordered" id="basicForm" action="">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        {{ form_row(form.nome) }}
                        {{ form_row(form.link) }}
                        {{ form_row(form.media) }}
                        {{ form_row(form.ativo) }}
                        {{ form_row(form._token) }}
                        {{ form_errors(form) }}
                    </div><!-- row -->
                    <div class="row">
                        <div class="dropzone">
                            <div class="fallback">
                                <input multiple="false" accept="image/*" type="file" name="file[]" />
                            </div>
                        </div>

                    </div>
                </div><!-- panel-body -->
                <div class="panel-footer">
                  <div class="row">
                    <div class="col-sm-9 col-sm-offset-3">
                        <img src="{{ asset('bundles/litoralextintoresloja/admin/images/loading.gif') }}" id="loading" alt="Carregando" />
                        <button id="salvar" class="btn btn-primary mr5">Salvar</button>
                        <button type="button" onclick="history.back()" class="btn btn-default mr5">Cancelar</button>
                    </div>
                  </div>
                </div><!-- panel-footer -->  
            </div><!-- panel -->
            </form>

        </div><!-- col-md-12 -->
    </div><!-- row -->
</div><!-- contentpanel -->
{% endblock %}