{% extends "LitoralExtintoresLojaBundle:Loja:layout.html.twig" %}
{% block title %}Litoral Extintores Tramandaí RS{% endblock %}

{% block head %}
{% endblock %}


{% block content %}

        <div class="container main-container sobre">

            <div class="row innerPage">
                <div class="col-lg-12 col-md-12 col-sm-12">
            	<h3 class="section-title style2 text-center"><span>NOTÍCIAS</span></h3>
                
                {% for noticia in noticias %}
                    <div class="row">
                        
                            <div class="col-lg-4 col-md-4 col-sm-6 col-sm-6">
                                <a href="{{ path("_loja_noticia", {id: noticia.id})}}">
                                    <img class="img-responsive" src="{% path noticia.getImagens.get(0).media, 'produto' %}" alt="img" />
                                </a>
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-6 col-sm-6">
                                <a href="{{ path("_loja_noticia", {id: noticia.id})}}">
                                <h3>{{ noticia.titulo }}</h3>
                                </a>
                                <p>
                                    <a href="{{ path("_loja_noticia", {id: noticia.id})}}">
                                    {{ noticia.descricao|striptags|truncate(200, true) }}
                                    </a>
                                </p>
                            </div>
                        
                    </div>
                    <hr>
                {% endfor %}
                </div>
            </div> <!--/.innerPage-->
            <div style="clear:both">  </div>
        </div><!-- /.main-container -->

{% endblock %}