


/*::selection {
 color:#fff;
 background:#39c381;
}*/
::-moz-selection {
 color:#fff;
 background:#39c381;
}
.site-color {
	color:#4ec67f !important;
}
a:hover, a:focus {
	color:#6D0500;
}
.search-full, .search-input {
	background: #4bb777;
}
.search-close {
	color: #4BB777;
}
.searchInputBox .search-btn {
	color:#fff;
}
.navbar-tshop {
	background:#615D5C;
}
.btn-primary, .product:hover .add-fav:hover, .product:hover .add-fav.active {
	background-color: #DA251C;
	color: #FFFFFF;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary, .pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
	background-color: ##6D0500;
	border-color: ##6D0500;
	color: #FFFFFF;
}
.btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
	background:  #6D0500;
}
.navbar-top {
	background:#FFF500;
}
.navbar-nav > li > a {
	color:#fff;
}
.nav > li.active, .nav > li > a:hover, .nav > li > a:focus, .nav > li:hover > a {
	background:#BD0A01;
}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus, .cartMenu:hover > a.dropdown-toggle {
	background:#BD0A01;
}
.dropdown-menu {
	border-top: solid #BD0A01;
}
.search-box:hover .form-control {
	background:#4EC67F;
}
.search-box:hover .btn-nobg {
	color:#4EC67F;
}
.mCS-dark-2 > .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
	background:rgba(78, 198, 127, 0.7) !important;
}
.action-control a:hover, .action-control a.active {
	color:#fff;
	background:#6D0500;
}
.product:hover, .featuredImgLook2 .inner:hover {
	border: 1px solid #6D0500;
}
.subCategoryList .thumbnail:hover {
	border: 1px solid #4EC67F;
}
#pager a.cycle-pager-active {
	background:rgba(39, 174, 96, 0.5);
}
.pager2 a {
	border: 1px solid #4EC67F;
}
.pager2 a.selected {
	background:#4EC67F;
}
.btn-site, .newsLatterBox .btn {
	background: #DA251C;
}
.btn-discover:hover, .btn-site:hover, .newsLatterBox .btn:hover {
	background: #AE2727;
}
.full {
	width:100%;
}
.footer a:hover {
	color:#DA251C;
}
.footer {
/*border-top: solid 3px #4EC67F;*/
}
.modal-header {
	background: #4EC67F;
}
.form-control:focus {
	border-color: #4EC67F;
}
.new-product {
	background:rgba(39, 174, 94, 0.95) !important;
}
/* tree menu */


.nav.tree > li.active, .nav.tree > li > a:hover, .nav.tree > li > a:focus, .nav.tree > li:hover > a {
	background:none;
	color:#2c3e50;
}
.nav.tree .open-tree > a, .nav.tree .open-tree > a:hover, .nav.tree .open-tree > a:focus {
	background:none;
	font-weight:bold;
	color:#2c3e50;
}
.panel-default > .panel-heading {
	border-top: 4px solid #FFF500;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus, .nav-tabs > li:hover > a {
	background:#BFC9CA;
}
.nav-tabs {
	border-bottom: 3px solid #BFC9CA;
}
.socialIcon a:hover {
	background:#4EC67F;
}
.cart-actions button, .cart-actions .wishlist {
	background: none repeat scroll 0 0 #BD0A01;
	border: 2px solid #BD0A01;
}
.cart-actions button:hover {
	background:#fff;
	color:#2c3e50;
	border:solid 2px #BD0A01;
}
.sp-thumbs a:hover, .sp-thumbs a:active, .sp-current, sp-current:visited {
	border: 2px solid #BD0A01 !important;
}
.promo-1 {
	background: none repeat scroll 0 0 #27AE60;
}
 @media (max-width: 767px) {
 .miniCartFooter {
 background:#BD0A01 !important;
}
}
#pager2 span.cycle-pager-active {
}
#pager2 span.cycle-pager-active {
	background: #BD0A01 !important;
}
#pager2 span {
	border: 2px solid #BD0A01
}
.orderStep li.active a {
	background: none repeat scroll 0 0 #1ABC9C;
}
.orderStep li.active a:after {
	border-top-color: #1ABC9C !important;
}
.orderStep li a {
	background:  #EFF0F2;
}
