{% extends "LitoralExtintoresLojaBundle:Loja:layout.html.twig" %}
{% block title %}LitoralExtintores Tramandaí RS{% endblock %}
{% block head %}
    
    <script type="text/javascript">            
        function adicionarCarrinhoQuantidade() {
            if (jQuery("#quantidadeProduto").val()=="") {
                bootbox.alert("Selecione a quantidade");
                return;
            }
            jQuery.get("{{ path("_loja_carrinho_adicionar", {idProduto: produto.id}) }}/"+jQuery("#quantidadeProduto").val(), function(msg) {
                bootbox.alert(msg, function(){
                    location.href = "";
                });
                
            });
        }
    </script>

{% endblock %}


{% block content %}
    
            <div class="container main-container headerOffset">
            <div class="row">
                <div class="breadcrumbDiv col-lg-12">
                    <ul class="breadcrumb">
                        <li> <a href="{{ path('_loja_index') }}">Home</a> </li>
                        <li> <a href="{{ path('_loja_categoria', {slug: categoria.getSlug}) }}">{{ categoria.nome }}</a> </li>
                        <li>{{ produto.nome }} </li>
                    </ul>
                </div>
            </div>
            <div class="row transitionfx">

                <!-- left column -->
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <!-- product Image and Zoom -->
                    <div class="main-image sp-wrap col-lg-12 no-padding style2 style2look2"> 
                        {% for imagem in produto.getImagens %}
                            <a href="{% path imagem.media, 'big' %}"><img src="{% path imagem.media, 'produto' %}" class="img-responsive" alt="img"></a> 
                        {% endfor %}
                    </div>
                </div><!--/ left column end -->
                <!-- right column -->
                <div class="col-lg-6 col-md-6 col-sm-5">

                    <h1 class="product-title"> {{ produto.nome }}</h1>
                    <div class="product-price"> 
{#                        <span class="price-sales"> R${{ produto.valor|number_format(2, ',', '.') }}</span> 
#}                        <span class="price-standard">{#R${{ (produto.getValorSemDesconto)|number_format(2, ',', '.') }}#} Consulte Valor</span> 
                    </div>

                    <div class="productFilter productFilterLook2">
                        <div class="filterBox">
                            <select id="quantidadeProduto" name="quantidadeProduto">
                                <option value="" selected>Quantidade</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                            </select>
                        </div>
                    </div>

                    <div class="cart-actions">
                        <div class="addto">
                            <button onclick="javascript:adicionarCarrinhoQuantidade();" class="button btn-cart cart first" title="Adicionar ao Carrinho" type="button">adicionar carrinho</button>
                            <button onclick="location.href = '{{ path('_loja_carrinho') }}'" class="button btn-cart cart first" title="Finalizar Pedido" type="button">finalizar pedido</button>
                        </div>

                        <div style="clear:both"></div>
                    </div>

                    <div class="clear"></div>

                    <div class="product-tab w100 clearfix">

                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#details" data-toggle="tab">Detalhe</a></li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div class="tab-pane active" id="details">
                                {{ produto.descricao }}
                            </div>
                        </div> <!-- /.tab content -->

                    </div><!--/.product-tab-->

                    <div style="clear:both"></div>

                </div><!--/ right column end -->

            </div>
            <!--/.row-->

            <div class="row recommended">

                <h1> PRODUTOS RECOMENDADOS </h1>

                <div id="SimilarProductSlider">
                    {% for prod in categoria.getProdutos if prod.id != produto.id  %}
                    <div class="item">
                        <div class="product"> <a class="{{ path('_loja_produto', {slugCategoria: categoria.getSlug, slug: prod.getSlug}) }}" > <img width="212px" src="{% path prod.getImagens.get(0).media, 'produto' %}"  alt="img"> </a>
                            <div class="description">
                                <h4><a href="{{ path('_loja_produto', {slugCategoria: categoria.getSlug, slug: prod.getSlug}) }}">{{ prod.nome }}</a></h4>
                                <div class="price"> <span>{#R${{ prod.valor|number_format(2, ',', '.') }}#} Consulte Valor</span> </div>
                            </div>
                        </div>
                    </div><!--/.item-->
                    {% endfor %}

                </div><!--/.SimilarProductSlider-->
            </div>  <!--/.recommended--> 


            <div style="clear:both"></div>


        </div> <!-- /main-container -->

        <div class="gap"></div>


        <script src="{{ asset('bundles/litoralextintoresloja/loja/assets/js/smoothproducts.min.js') }}"></script>
        <script src="{{ asset('bundles/litoralextintoresloja/loja/assets/js/smoothproducts-thumb.min.js') }}"></script>


{% endblock %}

