Novo Pedido de, <em>{{ user.nome }}</em>
<br/><br/>
<strong>Informações do pedido: </strong>
<br/>
<table>
    <thead>
        <tr>
            <th><strong>Código</strong></th>
            <th><strong>Nome</strong></th>
            <th><strong>Quantidade</strong></th>
        </tr>
    
    </thead>
    <tbody>
        {% for produto in produtos %}
        <tr>
            <th>{{ produto.id }}</th>
            <th><strong>{{ produto.nome }}</strong></th>
            <th><strong>{{ carrinho[produto.id] }}</strong></th>
        </tr>
        {% endfor %}
    </tbody>
</table>
<br/><br/>

<strong>Dados do Cliente:</strong>
<br/><br/>
<strong>Nome:</strong> {{ user.nome }}<br/>
<strong>E-mail:</strong> {{ user.email }}<br/>
<strong>Telefone:</strong> {{ user.telefone }}<br/>


<br/><br/>



Este é um e-mail automático, enviado pelo sistema no momento da finalização do pedido do cliente.
