O cliente abaixo está interessado no serviço: <strong>{{ servico.titulo }}</strong>
<br/>
Os dados do cliente interessedo são:
<br/><br/>
<p>Nome: <strong>{{ nome }}</strong></p>
<p>E-mail: <strong>{{ email }}</strong></p>

<br/><br/>
Entre em contato com o cliente, respondendo esse e-mail.