{% extends "LitoralExtintoresLojaBundle:Admin:layout.html.twig" %}
{% form_theme form 'LitoralExtintoresLojaBundle:Admin/Form:fields.html.twig' %}
{% block title %}LitoralExtintores | Serviços{% endblock %}
{% block head %}
    <link href="{{ asset('bundles/litoralextintoresloja/admin/css/basic.css') }}" rel="stylesheet" />
    <link href="{{ asset('bundles/litoralextintoresloja/admin/css/dropzone.css') }}" rel="stylesheet" />
    <link href="{{ asset('bundles/litoralextintoresloja/admin/css/bootstrap-wysihtml5.css') }}" rel="stylesheet" />
    <script src="{{ asset('bundles/litoralextintoresloja/admin/js/jquery.validate.min.js') }}"></script>
    <script src="{{ asset('bundles/litoralextintoresloja/admin/js/messages_ptbr.js') }}"></script>
    <script src="{{ asset('bundles/litoralextintoresloja/admin/js/validate/additional-methods.js') }}"></script>
    <script src="{{ asset('bundles/litoralextintoresloja/admin/js/jquery-ui-1.10.3.min.js') }}"></script>
    <script src="{{ asset('bundles/litoralextintoresloja/admin/js/dropzone.min.js') }}"></script>
    <script src="{{ asset('bundles/litoralextintoresloja/admin/js/select2.min.js') }}"></script>
    <script src="{{ asset('bundles/litoralextintoresloja/admin/js/wysihtml5-0.3.0.min.js') }}"></script>
    <script src="{{ asset('bundles/litoralextintoresloja/admin/js/bootstrap-wysihtml5.js') }}"></script>
    <script src="{{ asset('bundles/litoralextintoresloja/admin/js/ckeditor/ckeditor.js') }}"></script>
    <script src="{{ asset('bundles/litoralextintoresloja/admin/js/ckeditor/adapters/jquery.js') }}"></script>
    <script type="text/javascript">
        jQuery(document).ready(function(){
            jQuery('#loading').hide();
            jQuery('#servico_descricao').wysihtml5({color: true,html:true});
            jQuery("#basicForm").validate({
                rules: {
                },
                highlight: function(element) {
                    jQuery(element).closest('.form-group').removeClass('has-success').addClass('has-error');
                },
                success: function(element) {
                    jQuery(element).closest('.form-group').removeClass('has-error');
                },
                errorPlacement: function(error, element) {
                    jQuery(element).closest('.form-group').append(error);
                },
                submitHandler: function(form) {
                    jQuery("#salvar").hide();
                    jQuery('#loading').show();
                    form.submit();
               }
            });
            
            Dropzone.autoDiscover = false;                
            Dropzone.confirm = function(question, accepted, rejected) {
                bootbox.confirm(question, function(result) {
                    return result ? accepted() : null != rejected ? rejected() : void 0;
                });
            };
            
            jQuery(".dropzone").dropzone({
                url: '{{ path("_upload") }}',
                uploadMultiple: false,
                addRemoveLinks: true,
                acceptedFiles: "image/*",
                dictDefaultMessage: "Arraste arquivos para cá",
                dictCancelUpload: "Cancelar upload",
                dictCancelUploadConfirmation: "Tem certeza que deseja cancelar upload?",
                dictRemoveFile: "Remover Imagem",
                dictMaxFilesExceeded: "Somente uma imagem é permitida",
                dictRemoveFileConfirmation: "Excluir definitavamente a imagem?"
            });
            
            var myDrop = Dropzone.forElement(".dropzone"); 
            
            myDrop.on("success", function(file, data){
                if (file.temp !== false) {
                    file.id = data;
                    file.temp = true;
                    jQuery("form").append(jQuery("<input />").attr("type", "hidden").attr("name", "imagens[]").attr("id", "img-"+file.id).val(file.id));
                }
            });
            
            myDrop.on("removedfile", function (file) {
                if (file.temp) {
                    jQuery.post("{{ path('_upload_delete') }}", {id: file.id});
                    jQuery("#img-"+file.id).remove();
                } else if (!file.temp && file.id>0) {
                    jQuery("form").append(jQuery("<input />").attr("type", "hidden").attr("name", "excluidas[]").val(file.id));
                }
            });
                
            {% for imagem in servico.getImagens %}
                // Create the mock file:
                var imagem = {
                    name:       '{{ imagem.media.name }}', 
                    size:       '{{ imagem.media.size }}',
                    id:         '{{ imagem.id }}',
                    accepted:   true,
                    upload:     {progress: 0, total: '{{ imagem.media.size }}', bytesSent: 0},
                    temp:       false
                };
                // Call the default addedfile event handler
                myDrop.files.push(imagem);
                myDrop.emit("addedfile", imagem);
                myDrop.emit("thumbnail", imagem, '{% path imagem.media, 'small' %}');
                myDrop.emit("success", imagem, imagem.id);
                myDrop.element.classList.add("dz-started");
            {% endfor %}
        });
        
    </script>
{% endblock %}

{% block mainpanel %}
<div class="pageheader">
    <div class="media">
        <div class="pageicon pull-left">
            <i class="fa fa-suitcase"></i>
        </div>
        <div class="media-body">
            <ul class="breadcrumb">
                <li><a href=""><i class="glyphicon glyphicon-suitcase"></i></a></li>
                <li><a href="">Serviços</a></li>
                <li>{{ servico.getid>0 ? "Editar" : "Cadastrar" }} Serviço</li>
            </ul>
            <h4>Serviço</h4>
        </div>
    </div><!-- media -->
</div><!-- pageheader -->

<div class="contentpanel">
    <div class="row">
        <div class="col-md-12">
            <form method="POST" class="form-horizontal form-bordered" id="basicForm" action="">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        {{ form_row(form.titulo) }}
                        {{ form_row(form.descricao) }}
                        {{ form_row(form.ativo) }}
                        {{ form_row(form._token) }}
                        {{ form_errors(form) }}
                    </div><!-- row -->
                    <div class="row">
                        <div class="dropzone">
                            <div class="fallback">
                                <input multiple="true" accept="image/*" type="file" name="file[]" />
                            </div>
                        </div>

                    </div>
                </div><!-- panel-body -->
                <div class="panel-footer">
                  <div class="row">
                    <div class="col-sm-9 col-sm-offset-3">
                        <img src="{{ asset('bundles/litoralextintoresloja/admin/images/loading.gif') }}" id="loading" alt="Carregando" />
                        <button id="salvar" class="btn btn-primary mr5">Salvar</button>
                        <button type="button" onclick="history.back()" class="btn btn-default mr5">Cancelar</button>
                    </div>
                  </div>
                </div><!-- panel-footer -->  
            </div><!-- panel -->
            </form>

        </div><!-- col-md-12 -->
    </div><!-- row -->
</div><!-- contentpanel -->
{% endblock %}